<div>
  <div>
    <h1>
      <%= @the_spot.location %> details
    </h1>

    <div>
      <div>
        <a href="/spots">
          Go back
        </a>
      </div>

    </div>

    <dl>


      <dt>
        Climate
      </dt>
      <dd>
        <%= @the_spot.climate %>
      </dd>

      <dt>
        Geography
      </dt>
      <dd>
        <%= @the_spot.geography %>
      </dd>

 

      <dt>
        Trails
      </dt>
      <% @trails.each do |trail|%>
      <dd>
        <%= trail.name %>
        <a href="<%= trail.link %>">
          Link
        </a>
      
      </dd>
      <%end%>
      
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @photos.first.image %>" alt="probably somewhere beautiful" width="750" height="750">
      </dd>
       
    </dl>
  </div>
</div>

