<div>
  <div>
    <h1>
      <%= @the_trail.name %> details
    </h1>

    <div>
      <div>
        <a href="/trails">
          Go back
        </a>
      </div>


    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_trail.name %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%=Spot.where({:id => @the_trail.spot_id}).first.location %>
      </dd>

      <dt>
        External Link
      </dt>
      <dd>
        <a href="<%= @the_trail.link %>">
          more details
        </a>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_trail.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_trail.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>



<hr>
